#root {
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  color: #000;
  width: 100vw;
  overflow-y: auto;
}

.home-page button {
  width: 20rem;
  margin: 0 1rem;
  overflow-y: scroll;
  max-height: 100vh;
}



.product-item,
.cart-item section {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  padding: 1rem;
  margin: auto;
  border-bottom: 1px solid grey;
  align-items: center;
}

.product-item p {
  flex: 1;
  text-align: left;
  margin: 1rem;
}

.product-item strong,
.cart-item strong {
  padding: 1rem;
}

.product-item button {
  background-color: rgb(53, 127, 202);
  height: 100%;
  width: 5rem;
  margin: auto;
}

.cart-item button,
.product-item-button {
  background-color: rgb(53, 127, 202);
  height: 2rem !important;
  width: 2rem !important;
  margin: auto 1rem !important;
  padding: 0;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  margin: auto;
  border-bottom: 1px solid grey;
  padding: 0 1rem;
}
